.runescape-chat-messages {
  scrollbar-width: thin;
  scrollbar-color: #6B5D54 #2A2117;
}

.runescape-chat-messages::-webkit-scrollbar {
  width: 16px;
  background-color: #2A2117;
  border-left: 1px solid #000;
}

.runescape-chat-messages::-webkit-scrollbar-track {
  background-color: #2A2117;
  border: 1px solid #000;
  box-shadow: inset 1px 1px 0 #000;
}

.runescape-chat-messages::-webkit-scrollbar-thumb {
  background-color: #6B5D54;
  border: 1px solid #000;
  box-shadow: inset -1px -1px 0 #2A2117, inset 1px 1px 0 #8B7D74;
}

.runescape-chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #7B6D64;
}

.runescape-chat-messages::-webkit-scrollbar-button {
  background-color: #6B5D54;
  border: 1px solid #000;
  height: 16px;
  box-shadow: inset -1px -1px 0 #2A2117, inset 1px 1px 0 #8B7D74;
}

.runescape-chat-messages::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="%23000" d="M8 6l-4 4h8z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.runescape-chat-messages::-webkit-scrollbar-button:vertical:increment {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><path fill="%23000" d="M8 10l4-4H4z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}